<div class="container-contact100">


  <mat-card>
    <form #qualificationData="ngForm" (ngSubmit)="onSubmit(qualificationData)">
      <form>
        <mat-card-title>
          <span class="contact100-form-title">
            Qualification Details
          </span>
        </mat-card-title>
        <mat-card-content>
          <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-content>
          Please fill in all your Qualification
        </mat-card-content>
        <mat-card-actions>
          <span style="color:whitesmoke;float:left">
            <button mat-raised-button color="primary" (click)="AddQualification()">Add Qualification</button>
          </span>
          <span style="color:rgb(228, 55, 55);float:right">
            <button mat-raised-button color="warn" (click)="HideQualification()">-</button>

          </span>
        </mat-card-actions>
      </form>

      <div id="extraQualification" *ngFor="let x of counter">
          <mat-card-title style="text-align:left;">
            <h3 style="text-align:left">Type of Qualification &emsp;
              <span class="asterisk_input"> </span>
            </h3>

          </mat-card-title>

          <mat-form-field>
            <mat-select placeholder="Degree" name="typeOfQualification" [(value)]="selected" ngModel={{typeOfQualification}} required>
              <mat-option *ngFor="let qualification  of qualifiactions" [value]="qualification">
                {{ qualification }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-card-title style="text-align:left;">
            <h3 style="text-align:left">Qualification &emsp;
              <span class="asterisk_input"> </span>
            </h3>
            </mat-card-title>
        <mat-form-field class="input100">
          <input matInput placeholder="For e.g B.E" name="qualification" type="text" pattern="^([a-zA-Z.]{3,15})$" ngModel={{qualification}}
            required>
          <mat-error>Enter the valid Qualification</mat-error>
        </mat-form-field>

        <mat-card-title style="text-align:left;">
          <h3 style="text-align:left">Discipline &emsp;
            <span class="asterisk_input"> </span>
          </h3>

        </mat-card-title>
        <mat-form-field class="input100">
          <input matInput placeholder="For e.g Computer Science" name="discipline" type="text" pattern="^([a-zA-Z\s]{3,22})$" ngModel={{discipline}}
            required>
          <mat-error>Enter the valid discipline</mat-error>
        </mat-form-field>


        <mat-card-title style="text-align:left;">
          <h3 style="text-align:left">College &emsp;
            <span class="asterisk_input"> </span>
          </h3>

        </mat-card-title>
        <mat-form-field class="input100">
          <input matInput placeholder="For e.g D.Y Patil Engineering nerul" name="college" type="text" pattern="^([a-zA-Z\s.,]{3,40})$"
            ngModel={{college}} required>
          <mat-error>Enter the valid college Name</mat-error>
        </mat-form-field>

        <mat-card-title style="text-align:left;">
          <h3 style="text-align:left">University &emsp;
            <span class="asterisk_input"> </span>
          </h3>

        </mat-card-title>
        <mat-form-field class="input100">
          <input matInput placeholder="For e.g University Of Mumbai" name="university" type="text" ngModel={{university}} required>
          <mat-error>Enter the valid University Name</mat-error>
        </mat-form-field>

        <mat-card-title style="text-align:left;">
          <h3 style="text-align:left">Year of Passing &emsp;
            <span class="asterisk_input"> </span>
          </h3>

        </mat-card-title>

        <mat-form-field>
          <mat-select placeholder="YearOfPassing" name="yearOfPassing" [(value)]="selected" ngModel={{yearOfPassing}} required>
            <mat-option *ngFor="let year of passingYear" [value]="year">
              {{year}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-card-title style="text-align:left;">
          <h3 style="text-align:left">Percentage Aggregate(%) &emsp;
            <span class="asterisk_input"> </span>
          </h3>

        </mat-card-title>
        <mat-form-field class="input100">
          <input matInput placeholder="For e.g 80" name="aggregatePercentage" type="text" pattern="^[0-9]{2,2}$" ngModel={{aggregatePercentage}}
            required>
          <mat-error>Enter the valid Percent</mat-error>
        </mat-form-field>
        <mat-card-content>
          <mat-divider></mat-divider>
        </mat-card-content>
    </div>

      <div *ngIf="show()">
        <mat-card-title style="text-align:left">Training Details&emsp;
        </mat-card-title>

        <mat-card-title style="text-align:left;">
          <h3 style="text-align:left">Training Institute</h3> &emsp;
        </mat-card-title>
        <mat-form-field class="input100">
          <input matInput placeholder="For e.g JSpider" name="institute" type="text" ngModel={{this.dataObject.training[0].institute}} required>
          <mat-error>Please enter name of Institute</mat-error>
        </mat-form-field>

        <mat-card-title style="text-align:left">
          <h3 style="text-align:left">Please enter trainning duration in months&emsp;</h3>
        </mat-card-title>
        <mat-form-field class="input100">
          <input matInput placeholder="For e.g 8" name="duration" type="text" ngModel={{this.dataObject.training[0].duration}} required>

        </mat-form-field>
        <mat-card-title style="text-align:left">
          <h3 style="text-align:left">Please enter all your trainings&emsp;</h3>
        </mat-card-title>

        <mat-form-field class="input100">
          <input matInput placeholder="For e.g Java" name="trainingIn" type="text" ngModel={{this.dataObject.training[0].trainingIn}} required>
          <mat-error>Please enter the Bank Name</mat-error>

        </mat-form-field>
        <mat-card-title style="text-align:left">
          <h3 style="text-align:left">Hiring City&emsp;</h3>

        </mat-card-title>
        <mat-form-field style="width:10em">
          <mat-select placeholder="Hiring Cities" name="location" [(value)]="selected" ngModel={{this.dataObject.training[0].location}} required>
            <mat-option *ngFor="let hiringCity of hiringCities" [value]="hiringCity">
              {{ hiringCity }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-card-title style="text-align:left">
          <h3 style="text-align:left">Hiring Place&emsp;</h3>

        </mat-card-title>
        <mat-form-field class="input100">
          <input matInput placeholder="For e.g Seed Info tech" name="hiringPlace" type="text" ngModel={{this.dataObject.training[0].hiringPlace}} required>

        </mat-form-field>
      </div>
      <mat-card-actions>
        <span style="float:left">
          <button mat-raised-button color="primary" (click)="previous()">Previous</button>
        </span>
        <span style="float:right">
          <button mat-raised-button color="primary" type="submit" [disabled]="!qualificationData.form.valid">Next</button>

        </span>
      </mat-card-actions>
    </form>
  </mat-card>

</div>
