mat-card {
  width: 50em;
  height: 30em;
 border-radius: 10px;
}
.smallWidth {
     width: 25em;
     height:15em;
     border-radius: 10px;

}
.cropcircle {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  background: #eee no-repeat center;
  background-size: cover;
}
