<div class="container-contact100">
  <mat-card>
    <mat-card-title>
      <span class="contact100-form-title">
        Profile Upload
      </span>
    </mat-card-title>
    <mat-card-content>
      <mat-divider></mat-divider>

    </mat-card-content>
    <img [src]="dialogCrop" class="cropcircle" (click)="openDialog()" />
    <mat-card-actions>
      <span style="float:left">
        <button mat-raised-button color="primary" (click)="previous()">Previous</button>
      </span>
      <span style="float:right">
        <button mat-raised-button color="green" (click)="openDialog()">Edit Image</button>
      </span>
      <span style="float:right">
        <button mat-raised-button color="green" (click)="profilePic()">Submit</button>
      </span>
    </mat-card-actions>
  </mat-card>
</div>
