<div class="container-contact100">


  <mat-card><form #employeeData="ngForm" (ngSubmit)="onSubmit(employeeData)">
    <mat-card-title>
      <span class="contact100-form-title">
        Employee Data
      </span>
    </mat-card-title>
    <mat-divider></mat-divider>
    <mat-card-content style="text-align:center">Please read all the instructions carefully. Required to HR, Finance and other obligations
    </mat-card-content>
    <mat-card-title style="text-align:left">First Name &emsp;
      <span class="asterisk_input"> </span>
    </mat-card-title>
    <mat-card-content>This has to be same as it appears in PAN
    </mat-card-content>
    <mat-form-field class="input100">
      <input matInput placeholder="For e.g Ram" name="firstName" type="text"  ngModel required>
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>

    </mat-form-field>
    <mat-card-title style="text-align:left">Middle Name
    </mat-card-title>
    <mat-card-content>This has to be same as it appears in PAN
    </mat-card-content>
    <mat-form-field class="input100">
      <input matInput placeholder="For e.g Mohan" name="middleName" type="text"  ngModel required>
    </mat-form-field>
    <mat-card-title style="text-align:left">Last Name&emsp;
      <span class="asterisk_input"> </span>

    </mat-card-title>
    <mat-card-content>This has to be same as it appears in PAN
    </mat-card-content>
    <mat-form-field class="input100">
      <input matInput placeholder="For e.g Sharma" name="lastName" ngModel required>
    </mat-form-field>

    <mat-card-title style="text-align:left">Mobile Number&emsp;
      <span class="asterisk_input"> </span>

    </mat-card-title>
    <mat-card-content>For e.g 9870000000
    </mat-card-content>
    <mat-form-field class="input100">
      <input matInput placeholder="For e.g Sharma" type="tel" maxlength="10" name="mobileNumber"  ngModel required>
      <mat-error *ngIf="mobileNumber.invalid">{{getErrorMessageMobile()}}</mat-error>

    </mat-form-field>
    <mat-card-title style="text-align:left">Gender&emsp;
      <span class="asterisk_input"> </span>

    </mat-card-title>
    <mat-radio-group name="gender" ngModel>
      <mat-radio-button value="male" checked name="gender" >Male</mat-radio-button>
      <mat-radio-button value="female" name="gender" >Female</mat-radio-button>
    </mat-radio-group>
    <mat-card-content>
    </mat-card-content>
    <mat-card-title style="text-align:left">Email&emsp;
      <span class="asterisk_input"> </span>
    </mat-card-title>
    <mat-form-field class="input100">
      <input matInput placeholder="Enter your email" type="email" name="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
        ngModel required />
      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-card-actions style="float:right">
      <button mat-raised-button color="primary"  type="submit" [disabled]="!employeeData.form.valid" >Next</button>
    </mat-card-actions>
  </form>
  </mat-card>

</div>



<!--
	<div class="container-contact100">
		<div class="wrap-contact100">
			<form class="contact100-form validate-form">
				<span class="contact100-form-title">
					Say Hello!
				</span>

				<div class="wrap-input100 validate-input" data-validate="Name is required">
					<span class="label-input100">Your Name</span>
					<input class="input100" type="text" name="name" placeholder="Enter your name">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
					<span class="label-input100">Email</span>
					<input class="input100" type="text" name="email" placeholder="Enter your email addess">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 input100-select">
					<span class="label-input100">Needed Services</span>
					<div>
						<select class="selection-2" name="service">
							<option>Choose Services</option>
							<option>Online Store</option>
							<option>eCommerce Bussiness</option>
							<option>UI/UX Design</option>
							<option>Online Services</option>
						</select>
					</div>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 input100-select">
					<span class="label-input100">Budget</span>
					<div>
						<select class="selection-2" name="budget">
							<option>Select Budget</option>
							<option>1500 $</option>
							<option>2000 $</option>
							<option>2500 $</option>
						</select>
					</div>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input" data-validate = "Message is required">
					<span class="label-input100">Message</span>
					<textarea class="input100" name="message" placeholder="Your message here..."></textarea>
					<span class="focus-input100"></span>
				</div>

				<div class="container-contact100-form-btn">
					<div class="wrap-contact100-form-btn">
						<div class="contact100-form-bgbtn"></div>
						<button class="contact100-form-btn">
							<span>
								Submit
								<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
							</span>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div> -->